# Node and environment files
node_modules/

# Keep reports folder for versioned output
!reports/

# Keep BDD folder
!tests/bdd/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.swp